/* You can add global styles to this file, and also import other style files */

.container{
    margin: auto;
    padding: auto;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 5rem;
}
.success{
    width: 45%;
}
.warning{
    width: 45%;
}